/***************
TABLE STYLES
***************/

@use "sass:color";

table {
	width: 100%;
	margin-bottom: 1.5em;
	border-collapse: collapse;

	caption {
		margin: 0 0 7px;
		font-size: 0.75em;
		color: $grey;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

tr {

	&:nth-child(even) {
		background-color: color.adjust($grey, $lightness: 30%);

		@media (prefers-color-scheme: dark) {
			background-color: color.adjust(black, $lightness: 10%);
		}
	}
}

td,
th {
	text-align: left;
	padding: .5em;
}

th {
	background-color: $primary-color;
	color: white;

	&:last-child {
		border-right: 0;
	}
}
